<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmins:th="https://thymeleaf.org">
    <table>
        <tr>
            <td><h4>Username: </h4></td>
            <td><h4 th:text="${user.name}"></h4></td>
        </tr>
         <tr>
            <td><h4>Email ID: </h4></td>
            <td><h4 th:text="${user.email}"></h4></td>
        </tr>
    </table>
</html>
